In [1]:
import pandas as pd
pd.set_option('max_columns', 200)
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data = pd.read_pickle('/content/drive/MyDrive/Colab Notebooks/Capstone/data_zip.pkl')
data["price"] = data.price.str.replace("$","")
data["price"] = data.price.str.replace(",","")

data["price"] = data["price"].astype('float32')

<ipython-input-2-8df4d6c2384a>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["price"] = data.price.str.replace("$","")

In [4]:

data_for_cal = data[["id","latitude","longitude","accommodates","beds","price"]]

In [5]:
def average_cal(ac,lat,lon, data_for_cal):
  data_temp = data_for_cal[data_for_cal["accommodates"]==ac]
  data_temp = data_temp[(data_temp["latitude"] > lat - 0.01) & (data_temp["latitude"] < lat + 0.01) ]
  data_temp = data_temp[(data_temp["longitude"] > lon - 0.01) & (data_temp["longitude"] < lon + 0.01) ]

  return data_temp["price"].mean()

In [6]:
data_for_cal["mean_area_accommodates_price"] = data_for_cal.apply(lambda x: average_cal(x["accommodates"], x["latitude"], x["longitude"], data_for_cal), axis=1)

<ipython-input-6-01115f43afcd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_for_cal["mean_area_accommodates_price"] = data_for_cal.apply(lambda x: average_cal(x["accommodates"], x["latitude"], x["longitude"], data_for_cal), axis=1)

In [20]:
data_for_cal

,id,latitude,longitude,accommodates,price,mean_area_price
0,65467,34.024380,-118.383740,2,300.0,136.350876
1,206662,34.104200,-118.347480,1,46.0,107.387100
2,67089,34.009850,-118.407980,3,140.0,160.285721
3,210489,34.053030,-118.394490,8,340.0,506.333344
4,109,33.983010,-118.386070,6,115.0,213.000000
...,...,...,...,...,...,...
40433,774860592421665035,34.091006,-118.344620,2,128.0,109.520287
40434,774864578948159716,33.975508,-118.430657,4,180.0,184.172409
40435,774866706304798119,34.014228,-118.320888,3,104.0,88.857140
40436,774872573559544018,33.985194,-118.393408,4,167.0,174.600006
40437,774889783296314664,34.070314,-118.134431,2,81.0,114.099998

In [8]:
def average_cal_beds(beds,lat,lon, data_for_cal):
  data_temp = data_for_cal[data_for_cal["beds"]==beds]
  data_temp = data_temp[(data_temp["latitude"] > lat - 0.01) & (data_temp["latitude"] < lat + 0.01) ]
  data_temp = data_temp[(data_temp["longitude"] > lon - 0.01) & (data_temp["longitude"] < lon + 0.01) ]

  return data_temp["price"].mean()

In [9]:
data_for_cal["mean_area_beds_price"] = data_for_cal.apply(lambda x: average_cal_beds(x["beds"], x["latitude"], x["longitude"], data_for_cal), axis=1)

<ipython-input-9-93d4a7541957>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_for_cal["mean_area_beds_price"] = data_for_cal.apply(lambda x: average_cal_beds(x["beds"], x["latitude"], x["longitude"], data_for_cal), axis=1)

In [11]:
data_for_cal

,id,latitude,longitude,accommodates,beds,price,mean_area_accommodates_price,mean_area_beds_price
0,65467,34.024380,-118.383740,2,1.0,300.0,136.350876,130.241379
1,206662,34.104200,-118.347480,1,2.0,46.0,107.387100,183.716812
2,67089,34.009850,-118.407980,3,1.0,140.0,160.285721,120.010201
3,210489,34.053030,-118.394490,8,5.0,340.0,506.333344,339.000000
4,109,33.983010,-118.386070,6,3.0,115.0,213.000000,239.399994
...,...,...,...,...,...,...,...,...
40433,774860592421665035,34.091006,-118.344620,2,1.0,128.0,109.520287,117.845741
40434,774864578948159716,33.975508,-118.430657,4,3.0,180.0,184.172409,224.250000
40435,774866706304798119,34.014228,-118.320888,3,2.0,104.0,88.857140,153.956528
40436,774872573559544018,33.985194,-118.393408,4,2.0,167.0,174.600006,146.272720
40437,774889783296314664,34.070314,-118.134431,2,1.0,81.0,114.099998,87.225807

In [12]:
data_for_cal.to_pickle("/content/drive/MyDrive/Colab Notebooks/Capstone/data_area_meanl.pkl")